html, body {
    margin:0;
    padding:0;
    height: 100%;
	//font-family: "calibri";
	font-family: 'Montserrat', sans-serif;
	text-align:inherit;
}

body p{
padding-left:50px;
padding-right:50px;
}

p {
	color: rgba(27,99,147,1);
}


h1 {
	font-size:large;
	padding-left:50px;
	padding-right:50px;
}

h2 {
	font-size: xx-large;
	padding-left:50px;
	padding-right:50px;
}

h3 {
	font-size: 70px;
	padding-left:50px;
	padding-right:50px;
}




.horizontal {display: inline; border-left: 4px solid; padding-left: 1em; padding-right: 1em;}
.first { border-left: none; padding-left: 0; }

.preventivo_input{
	width:200px;
	}
	
.preventivo_tab{
	width:50px;
}

#generici, #datiresidenza, #datipickupa, #datipickupr {
	text-align:left;
	padding-left:50px;
	padding-right:50px;
	padding-top:2%;
	padding-bottom:2%;
	margin-top:10px;
	margin-bottom:2%;
	margin-left:100px;
	
	background-color: rgba(255, 255, 255, 0.8);
	width:600px;
	//font-family:"calibri";
	font-family: 'Montserrat', sans-serif;
	color:rgba(9,46,88,1);
	border-radius: 10px 10px 10px 10px;

}

#generici label, #datiresidenza label, #datipickupa label, #datipickupr label, #generici p{
display:inline-block;
width:200px;
font-weight: bold;}

#generici input, #datiresidenza input, #datipickupa input, #datipickupr input{
display:inline-block;
//background: white;
// border: 1px solid gray;
//  color: blue;
  width: 250px;
//  height:30px;
//  padding-left:10px;
}

#datipickup mezzopickupa.input {
width:500px;
}

input, select {
	padding: 4px;
	margin-right:5px;
	border: solid 2px rgba(133, 175, 213, 0.8);
	border-radius:5px;

}

#tabella input, #tabella select {
		margin-top:5px;

}
#tabella p{}

input.text {
  background: white;
  border: 1px solid gray;
  color: blue;
  width: 250px;
  height:30px;
  padding-left:10px;
}

#preventivo_dx_a li, #preventivo_dx_da li{
font-size:large;
margin-bottom:10px;
margin-left:30px;
list-style-type: none;
}

#menu1 a{
color:white;
text-decoration:none;
}

#menu2 a{
color:rgba(13, 53, 89, 0.9);
text-decoration:none;
}

#preventivo_dx_da, #preventivo_dx_a{
width:300px;
position:fixed;
top:240px;
left:50%;
overflow:auto;
max-height:200px;
background:rgba(255,255,255,0.8);
padding-left:10px;
padding-right:10px;
border-radius: 10px;

}

#preventivo_sin{
float:left;
width:50%;}

#background {
    background : #ffffff url("../images/bg.jpg") no-repeat top ;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
    
}
#tabella {
	background-color: rgba(220, 247, 254, 0.8);
	color: rgba(0, 0, 0, 1);
    //border-radius: 6px 6px 6px 6px;
	max-width:900px;
	padding-top:5px;
	margin:auto;
	//height:100%;
	//box-shadow: 0px 0px 5px #000000;
	
}

@-moz-document url-prefix() {
#tabella{
	margin-top:230px;
}
}

#container {
	background-color: rgba(220, 247, 254, 0.8);
	color: rgba(0, 0, 0, 1);
    //border-radius: 6px 6px 6px 6px;
	max-width:900px;
	padding-top:10px;
	padding-bottom:20px;
	margin:auto;
	//height:100%;
	//box-shadow: 0px 0px 5px #000000;
	
}
.input_contatti{
	margin-left:50px;
}

}
#container img{
	padding-top:10px;
	padding-bottom:10px;
}
#container p{
	color: rgba(27,99,147,1);
}
#container h1, #container h2, #container h3{
	color: rgba(27,99,147,1);
}

#container ul{
	color: rgba(27,99,147,1);
	padding-left:80px;
	padding-right:50px;
}

@-moz-document url-prefix() {
#container{
	margin-top:0px;
}
}
#container button{
	
}

#header{

}


#logo{
	background-color: rgba(13, 53, 89, 0.9);
	width:100%;
	float:right;
	height:64px;
}

#menu1, #menu2{width:100%;
	float:right; 
	min-width:900px;
	}
	
#menu1.level1{
	background-color: rgba(27, 99, 147, 0.9);
	color:rbga(255,255,255,1);
	padding-top:10px;
	padding-bottom:10px;
	text-transform:uppercase;
	
}

#menu2.level2{
	background-color: rgba(133, 175, 213, 0.8);
	color:rgba(13, 53, 89, 0.9);
	padding-top:5px;
	padding-bottom:5px;
	text-transform:uppercase;
}

#footer{
	background-color: rgba(13, 53, 89, 0.9);
	align:center;
	width:100%;
	float:right;
	font-size:12px;
}
#footer p{color:white}

#content {
	padding-left:20px;
	padding-right:20px;
	padding-top:0px;
	padding-bottom:0px;
	min-height: 100%;
	max-width:90%;
	display: table-row;
	float:center;
}
#tab_testo_40 {
	
	float:left;
	width:40%;
	height:100%;
}
#tab_testo_20 {
	
	float:left;
	width:19%;
}

#tab_testo_10 {
	
	float:left;
	width:10%;
}
#tab_testo_5 {
	
	float:left;
	width:5%;
}
#tab_img{
	padding-left:0px;
	padding-right:0px;
}


#modulo_prenotazione{

	color: rgba(0, 0, 0, 1);
    //border-radius: 6px 6px 6px 6px;
	
	max-width:900px;
	
	//padding-bottom:5px;
	margin:auto;
	//height:100%;
	//box-shadow: 0px 0px 5px #000000;

}
@-moz-document url-prefix() {
#prenotazione{
	margin-top:0px;
}
}

#prenotazione{
	margin-right:auto;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:20px;
	padding-top:20px;
	background-color: rgba(255, 255, 255, 0.8);
	width:300px;
	color:rgba(9,46,88,1);
	border-radius:10px;
	
}

#tab_ordine{
	text-align:left;
	padding-left:50px;
	padding-right:50px;
	padding-top:0px;
	padding-bottom:0px;
	background-color: rgba(255, 255, 255, 0.6);
	width:600px;
	//font-family:"calibri";
	font-family: 'Montserrat', sans-serif;
	color:rgba(9,46,88,1);
}

#tab_intestazioni{
	padding-left:50px;
	padding-right:50px;
	padding-top:2px;
	padding-bottom:2px;
	background-color: rgba(13, 53, 89, 0.9);
	width:600px;
	//font-family:"calibri";
	font-family: 'Montserrat', sans-serif;
	color:rgba(255,255,255,1);
}

